[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/etern1ty/eh]
row=6
col=0

[/home/etern1ty/Etern1ty.ovpn:Zone.Identifier]
row=2
col=1

[/home/etern1ty/tools]
row=7
col=0

[/home/etern1ty/ctf]
row=4
col=0

[/home/etern1ty/Etern1ty_normal.ovpn:Zone.Identifier]
row=3
col=1

[/home/etern1ty/Etern1ty_normal.ovpn]
row=8
col=0

[/home/etern1ty/miniforge3]
row=0
col=1

[/home/etern1ty/jarkom]
row=5
col=0

[/home/etern1ty/Etern1ty.ovpn]
row=3
col=0

[/home/etern1ty/reports]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/etern1ty]
row=2
col=0

